{% load  static %}
{% block Footer %}
  
<!-- Footer -->
<footer class=" " style="background-color: #212530; ">

    <ul class="nav justify-content-center  pb-3 mb-3">
      <li style="color: aliceblue;" class="nav-item"><a href="/anasayfa" class="nav-link px-2 text-white">Ana Sayfa</a></li>
      <li class="nav-item"><a href="/frc" class="nav-link px-2 text-white">FRC</a></li>
      <li class="nav-item"><a href="/sponsorlar" class="nav-link px-2 text-white">Sponsorlarımız</a></li>
      <li class="nav-item"><a href="/haberler" class="nav-link px-2 text-white">Haberler</a></li>
      <li class="nav-item"><a href="/iletisim" class="nav-link px-2 text-white">İletişim</a></li>
    </ul>
    <p class="text-center text-white">© 2024 İTK FRC</p>
</footer>


  <!-- Footer -->


{% endblock Footer %}